# Angular build output
/dist
/tmp
/out-tsc

# Node modules
/node_modules
npm-debug.log
yarn-error.log

# Angular cache
/.angular/cache

# IDE
.vscode/
.idea/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

documentation/
src/environments/environment.ts