<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor="let budget of budget_list; trackBy: trackByFn">
        <div
          class="card text-white bg-primary mb-3"
          style="cursor: pointer"
          [routerLink]="['/budget', budget._id]"
        >
          <div class="card-header">
            {{ budget.username }}
          </div>
        <div class="card-body">
            This budget is based in {{ budget.town }}
          </div>
          <div class="card-footer">
            Monthly Income: £{{ budget.monthly_income }}
            <span *ngIf="budget.reviews?.length">
              - {{ budget.reviews.length }} reviews
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-primary" (click)="previousPage()">Previous</button>
    </div>
    <div class="col-sm-4 text-center align-self-center">
      Showing page {{ page }} of {{ dataService.getLastPageNumber() }}
    </div>
    <div class="col-sm-4 text-end">
      <button class="btn btn-primary" (click)="nextPage()">Next</button>
    </div>
  </div>
</div>
